@model InfinityTeknoloji.Models.Models.ExamDto

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>ExamDto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExamID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExamID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExamName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExamName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExamOverTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExamOverTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExamDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExamDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PassingScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PassingScore)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
