@model IEnumerable<InfinityTeknoloji.Models.Models.ExamDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




@if (User.Identity.IsAuthenticated && (User.IsInRole("Teacher") || User.IsInRole("Admin")))
{
    <p>
        @Html.Partial("_ButtonPartial");
    </p>
}

<br />
<br />
<table id="example" class="display" style="width:100%">
    <thead>
        <tr>
          
            <th>
                @Html.DisplayName("Exam")
            </th>
            <th>
                @Html.DisplayName("Exam's OverTime")
            </th>
            <th>
                @Html.DisplayName("Description")
            </th>
            <th>
                @Html.DisplayName("Passing Score")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
             
                <td>
                    @Html.DisplayFor(modelItem => item.ExamName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExamOverTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExamDesc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PassingScore)
                </td>
                <td>
                    <button onclick="location.href = '@Url.Action("Edit")'">@Html.ActionLink("Edit", "Edit", new {item.ExamID }, new { @style = "color:#ffd800;text-decoration:none" })</button> |
                    <button onclick="location.href = '@Url.Action("Details")'">@Html.ActionLink("Details", "Details", new { item.ExamID }, new { @style = "text-decoration:none" })</button> |
                    <input type="button" value="Delete" class="delete" id="@item.ExamID" style="color:red" />
                     <button onclick="location.href = '@Url.Action("SolveExams")'">@Html.ActionLink("Solve", "SolveExams","Home", new {item.ExamID }, new { @style = "color:#ffd800;text-decoration:none" })</button>

                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts{
    <script src="~/js/Exam.js"></script>
    <link href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#example').DataTable();
        });
    </script>
}